PORT=10000
BASE_URL=https://seu-servico.onrender.com
PIXGO_API_KEY=sua_chave_pixgo
PIXGO_URL=https://pixgo.org/api/v1/payment/create
ADMIN_NUMBERS=5575999999999,5575888888888
SUPORTE_WHATSAPP=5575999999999
ADMIN_USER=admin
ADMIN_PASS=123456
SESSION_SECRET=troque_essa_chave
DATA_DIR=/data
DB_PATH=/data/esim.db
UPLOAD_DIR=/data/uploads_esim
AUTH_DIR=/data/auth_esim
BACKUP_DIR=/data/backups_esim
LOJA_NOME=Centralunlocker eSIM
ESTOQUE_BAIXO=2
PRAZO_MANUAL=até 30 minutos
